.card {
  width: 323px;
  position: relative;
  display: flex;
  justify-content: center;
  border: 1px solid #0000004d;
}

.card__name {
  margin: 0;
  height: 24px;
  border-radius: 4px;
  background-color: #fff;
  opacity: 1;
  font-family: Cabinet Grotesk;
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  line-height: 20px;
}

.card__header {
  position: absolute;
  top: 15px;
  left: 0;
  width: 100%;
  display: flex;
  gap: 10px;
  justify-content: center;
}

.card__like-btn {
  background-color: transparent;
  border: none;
  background-image: url(../../assets/like-button.png);
  background-repeat: no-repeat;
  width: 22px;
}

.card__like-btn_active {
  background-image: url(../../assets/dark__like-button.png);
}

.card__image {
  width: 100%;
  height: auto;
  top: 279px;
  left: 38px;
  opacity: 1;
}
